@charset "UTF-8";
*{
	box-sizing: border-box;
}
html,body{
	height:100%;
}
html{
	font-size:26.67vw;
}
body{
	display: flex;
	flex-direction: column;
}
.on{
	display: block;
}
.off{
	display: none;
}
/* 发现音乐界面开始 */
/*header*/
.find_music header{
	height:0.49rem;
	background:#d43b33;
	display: flex;
	justify-content: space-between;
}
.find_music header>.iconfont{
	width:0.54rem;
	font-size:0.24rem;
	color:#fcf3ff;
	display: flex;
	align-items: center;
}
.find_music header form{
	flex:1;
	background:#fff;
	height:0.3rem;
	align-self: center;
	display: flex;
	border-radius:5px;
	overflow:hidden;
}
.find_music header form .iconfont{
	padding-left:0.47rem;
	display: flex;
	align-items: center;
	font-size:0.14rem;
	color:#c8c8c8;
}
.find_music header form input{
	flex:1;
	font-size:0.14rem;
	color:#c8c8c8;
	padding-left:0.09rem;
	border:0px;
	outline:none;
	cursor: pointer;
}
.find_music header>.iconfont:first-child{
	padding-left:0.15rem;
}
.find_music header>.iconfont:last-child{
	padding-left:0.18rem;
}
/*nav*/
.find_music nav{
	height:0.4rem;
	display: flex;
	justify-content: space-between;
	padding:0 0.12rem;
}
.find_music nav a{
	border-bottom:4px solid #fff;
	display: flex;
	align-items: center;
	padding:0.06rem;
}
.find_music nav a:first-child{
	color:#c04033;
	border-color:#c04033;
}
/*content*/
.find_music main{
	flex:1;
	background:#fff;
	overflow:auto;
}
.find_music main .content .banner{
	height:1.39rem;
}
.find_music main .content .banner img{
	height:100%;
	width:100%;
}
.find_music main .content .adcontent{
	display: flex;
	align-items: center;
	height:1.03rem;
	border-bottom: 1px solid #999;
}
.find_music main .content .adcontent dl{
	width:33.3%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.find_music main .content .adcontent dl .iconfont{
	width:0.54rem;
	height:0.54rem;
	border:1px solid #d63934;
	border-radius:50%;
	font-size:0.25rem;
	color:#d2382c;
	display: flex;
	justify-content: center;
	align-items: center;
}
.find_music main .content .adcontent dl:nth-child(2) .iconfont{
	font-size:0.35rem;
}
.find_music main .content .adcontent dl dd{
	font-size:0.11rem;
	margin-top:0.07rem;
}
.find_music main .title{
	height:0.45rem;
	display: flex;
	justify-content: space-between;
	padding:0 0.1rem;
}
.find_music main .title aside:first-child{
	padding-top:0.2rem;
}
.find_music main .title aside:first-child .iconfont{
	font-size:0.15rem;
	color:#c04736;
}
.find_music main .title aside:first-child span{
	font-size:0.15rem;
}
.find_music main .title aside:last-child{
	font-size:0.1rem;
	padding-top:0.23rem;
}
.find_music main .imglist{
	display: flex;
	flex-flow:wrap;
	justify-content: space-between;
	padding:0 0.1rem;
}
.find_music main .imglist dl{
	width:1.14rem;
	margin-top:0.18rem;
}
.find_music main .imglist dl dt img{
	width:1.14rem;
	height:1.14rem;
}
.find_music main .imglist dl dd{
	font-size:0.12rem;
	line-height:0.16rem;
	margin-top:0.07rem;
}
/* 发现音乐界面结束 */

/* 我的音乐界面开始 */
.my_music{
	padding: 0.1rem;
	background-color: #f8f8f8;
	display: flex;
}
.my_music .user{
	margin: 0.1rem;
	height: auto;
	display: flex;
}
.my_music .user_portrait{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	padding-right: 0.1rem;
}
.my_music .user_portrait img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.my_music .user_details .name{
}
/* 我的音乐界面结束 */



/*footer*/
footer{
	height:0.48rem;
	width:100%;
	position:fixed;
	bottom:0;
	background:rgba(0,0,0,0.8);
	display: flex;
	justify-content: space-between;
	padding:0 0.27rem;
}
footer aside{
	display: flex;
	flex-flow:column;
	justify-content: center;
	align-items: center;
}
footer aside .iconfont{
	color:#b2a3a0;
	font-size:0.25rem;
}
footer aside span{
	color:#b2a3a0;
	font-size:0.1rem;
}
footer aside:first-child .iconfont{
	color: #fff;
}
footer aside:first-child span{
	color:#fff;
}